@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  color: #000000;
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.linkContainer {
  display: inline-block;
  position: relative;
}

.link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 35px;
  color: #000000;
  transition: color 0.3s ease-in-out;
  font-size: 45px;
  z-index: 1;
}

.link:hover {
  color: #348948;
}

.link:before,
.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #e8e8c4;
  transition: width 0.3s ease-in-out;
}

.link::before {
  top: 0;
  left: 0;
}

.link::after {
  bottom: 0;
  right: 0;
}

.link:hover::before,
.link:hover::after {
  width: 100%;
}

.homelink {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.homelink:hover {
  color: #348948;
}

.homelink:before,
.homelink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #e8e8c4;
  transition: width 0.3s ease-in-out;
}

.homelink::before {
  top: 0;
  left: 0;
}

.homelink::after {
  bottom: 0;
  right: 0;
}

.homelink:hover::before,
.homelink:hover::after {
  width: 100%;
}

.infoContainer {
  position: absolute;
  bottom: 50px;
  right: 50px;
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.profilePic {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 40px;
  color: #000000;
  max-width: 45%;
  text-align: center;
  padding: 0 20px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.projectCard {
  font-size: large;
  width: 700px;
  height: 700px;
  text-align: center;
  margin: 20px;
  border: #348948 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
}

.projectImage {
  width: 600px;
  display: block;
}
