.linkContainer {
  display: inline-block;
  position: relative;
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
  color: #000000;
  transition: color 0.3s ease-in-out;
  font-size: 45px;
}

.link:hover {
  color: #348948;
}

.link:before,
.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #e8e8c4;
  transition: width 0.3s ease-in-out;
}

.link::before {
  top: 0;
  left: 0;
}

.link::after {
  bottom: 0;
  right: 0;
}

.link:hover::before,
.link:hover::after {
  width: 100%;
}
